body{
    background: rgb(21,23,32);
background: linear-gradient(90deg, rgba(21,23,32,0.47102591036414565) 31%, rgba(163,127,182,0.9472163865546218) 91%);
}
.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px  rgb(61, 41, 192);
}
.navbar-brand{
    color: brown
}

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images.unsplash.com/photo-1486848538113-ce1a4923fbc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ2luJTIwYmx1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.loginform{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.input-group{
     margin-top: 3%;
}
.signup{
    display: none;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    width: 30%;
    place-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.40)
}
.sname{
    width: 80%;
    font-size: 20px;
    margin: 7px;
    padding: 7px;
}
.smail{
        width: 80%;
        font-size: 20px;
        margin: 7px;
        padding: 7px;
    }
.spassword{
        width: 80%;
        font-size: 20px;
        margin: 7px;
        padding: 7px;
}
.cpassword{
    width: 80%;
    font-size: 20px;
    margin: 7px;
    padding: 7px;
}
.create{
    color: #FFC312;
    width: 100%;
    margin: 12px;
    padding: 5px;
}
.btm{
    border-radius: 7px;
    background-color: #FFC312;
    padding: 5px;
    font-weight: bold;
}